body {
    padding: 0;
    margin: 0;
}
p {
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 32pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 1em;
    padding-top: 1em;
}
h3 {
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 1em;
    padding-top: 1em;
}


li {
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}
li #contactPadding {
    padding-right:3em;
}
.topnav {
    display:flex;
    width:100%;
    background-color:#ffcaaf;
    height:6em;
}
.topnav-child {
    display:flex;
    width:90%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    
}
.aboutMe {
    background-color: #FFEEE3;
    padding-bottom: 3em;;
}
.flexContainer2 {
    display:flex;
    width:60%;
    margin:auto;
    padding-top:5em;
}
#aboutMeContent {
   display:flex;
   flex-direction:column;
}

.childContainer2 {
    display:flex;

    
}
.childContainer2 h1 {
    width: 55%;

}
#aboutMeContent p{
    width:70%;
    padding: 10px 0px 10px 0px;
    line-height: 1;

}
#resumeButton {
    background-color: #BF9071 ;
    width:20%;
    border:none;
    padding:1em;
    margin-top:2em;
    border-radius: 30px;
    
}
.mySkills {
    background-color: #BF9071
}

.flexContainer {
    display:flex;
    justify-content: center;
    align-content: stretch;
    width:60%;
    margin:auto;
}
.flexChild {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 2em;
    align-items: center;

}
#skills {
    display:flex;
    justify-content: center;
    width: 100%;
    margin:auto;

}
#footer {
    background-color: #FFEEE3;
}

#footerContent {
    background-color:#ffcaaf;
    display:flex;
    justify-content: center;
    width:100%;
    height:12em;
    align-items: center;
    padding-bottom: 3em;
    margin: auto;
}
#get-in-touch {
    text-align: center;
}
#social-icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}
.social {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#copyright {
    text-align: center;
    padding-top: 1em;
}

@media only screen and (max-width: 600px) {
    /* Universal*/

    h3 {
        font-size: 18pt;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        padding-bottom: .5em;
        padding-top: .5em;
        line-height: 1.3;
    }
    
    /* Top Navigation*/

    .topnav {
        flex-direction: column;
        width:100%;
        height:12em;
    }
    .topnav-child {
        width:100%;
        justify-content: center;   
    }
    .logo {
        display:flex;
        justify-content: center;
        padding:2em;
    }

    .aboutMe {
        flex-direction: column;
 
    }

    .flexContainer2 {
        flex-direction: column-reverse;
        width:100%;
        padding-top:2em;
        
        
    }
    #aboutMeContent {
        flex-direction:column;
        width:100%;
        margin: auto;
        justify-content: center;
     }
     .childContainer2 {
        justify-content: center;
        padding-top: 2em;
     }
     .childContainer3 img {
        display: flex;
        margin: auto;
    }
    #aboutMeContent p {
        margin: auto;
    }

    #aboutMeContent button {
        margin: auto;
        margin-top: 1em;
    }
    .flexContainer {
        flex-direction: column;
        width:100%;
    }
    .flexChild {
        width:auto;
    }
    .flexChild p {
        width:90%;
    }

/* Footer*/

    #footerContent {
        background-color:#ffcaaf;
        display:flex;
        justify-content: center;
        width:100%;
        height:12em;
        align-items: center;
        padding-bottom: 3em;
        margin: auto;
    }
    #get-in-touch {
        padding-top:2em;
    }
    #copyright {
        font-size: 12pt;
    }
}
