
body {
    padding: 0;
    margin: 0;
}
p {
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}
h1 {
    font-size: 32pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 1em;
    padding-top: 1em;
    line-height: 1.3;
}
h3 {
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 1em;
    padding-top: 1em;
    line-height: 1.3;
}
button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 30px;
}

li {
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}
li #contactPadding {
    padding-right:3em;
}

.topnav {
    display:flex;
    width:100%;
    background-color:#ffcaaf;
    height:6em;
}
.topnav-child {
    display:flex;
    width:90%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    
}
    





.main {
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "main-text main-img";
    width:60%;
    background-color:#ffcaaf;
}
.main-text {
    grid-area:main-text;
}
.main-img {
    grid-area:main-img;
    width: 70%;
    justify-content: flex-end;
}

.bgColor2 {
    background-color: #437B7B;
}











}
.down-arrow {
    display:flex;

}


    
}
#hello {
    font-family: 'Monoton', cursive;
    font-size:50pt;
    padding-bottom: 20px;
}
.bgColor {
    background-color: #BF9071;
}


.workGrid {
    display:grid;
    align-items: center;
    height:100vh;
    margin:auto;
    width:60%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "ballotBitesContent ballotBitesImage ";
}
.ballotBitesImage {
    grid-area:ballotBitesImage;
}
.ballotBitesContent {
    grid-area:ballotBitesContent;
    width: 70%;
}

.bgColor2 {
    background-color: #437B7B;
}


.workGrid2 {
    display:grid;
    align-items: center;
    height:100vh;
    margin:auto;
    width:80%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "abrContent abrImage ";
}
.abrImage {
    grid-area:abrImage;
}
.abrContent {
    grid-area:abrContent;
    width: 80%;
    color: white;
}
.btnWhite {
    color: white;
    padding: 1em 2em 1em 2em;
    margin-top: 3em;
}

.bgColor3 {
   background-color: #E49586;
}
.workGrid3 {
    display:grid;
    align-items: center;
    height:100vh;
    margin:auto;
    width:80%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "ftcContent ftcImage";
}
.ftcImage {
    grid-area:ftcImage;
}
.ftcContent {
    grid-area:ftcContent;
    width: 80%;
    
}
#btnBlack {
    padding: 1em 2em 1em 2em;
    margin-top: 3em;
    color:black;
}


.bgColor4 {
    background-color: #134260;
 }
 .workGrid4 {
     display:grid;
     align-items: center;
     height:100vh;
     margin:auto;
     width:80%;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
     "otherProjects otherProjects"
     "irohImage rosettaStoneImage"
     "irohButton rsButton";
 }
 .otherProjects {
     grid-area:otherProjects;
     justify-items: center;
     text-align: center;
     color:white;
 }
 .irohImage {
     grid-area:irohImage;
 }

 .irohButton {
    grid-area:irohButton;
    color: white;
    padding: 1em 2em 1em 2em;
    align-content: center;
    margin: center;
   
    
    
    


      
}
 .rosettaStoneImage {
    grid-area:rosettaStoneImage;
}

 .rsButton {
    grid-area:rsButton;
    color: white;
    padding: 1em 2em 1em 2em;
   
 }
 


.footer {
    background-color:#ffcaaf;
    position:relative;
    height:200px;

}
#get-in-touch {
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 15px;
    
}
.social-icons {
    position: absolute;
    display:block;
    background-color: #ffcaaf;
    width:100;
    text-align: center;
    padding-left: 40%;
    
}
.social {
    padding:20px;
}
#copyright {
    font-size: 15pt;
}